nav{
    width: 50%;
    position: fixed;
    top:0;right: 0;
}
nav ul{
    text-align: center;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
nav ul li{
    background-color: transparent;
    width: 33%;
    float: left;
}
nav ul li:hover{
    background-color: blue;
}
nav ul a li{
    font-size: 200%;
    color: white;
    background-color: black;
}